.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    opacity 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-icon-start {
  margin-right: 8px;
  display: inline-flex;
}

.btn-icon-end {
  margin-left: 8px;
  display: inline-flex;
}

.btn:hover {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-square {
  border-radius: 0px;
}

.btn-rounded {
  border-radius: 10px;
}

.btn-pill {
  border-radius: 24px;
}

.btn-outlined {
  background-color: transparent;
  color: inherit;
  border: 1px solid;
}

.btn-filled {
  color: inherit;
}

.btn-text {
  background-color: transparent;
  color: inherit;
  border: none;
  box-shadow: none;
}

.btn-neutral {
  background-color: var(--color-neutral);
  color: var(--color-neutral-text);
}

.btn-neutral:hover {
  background-color: var(--color-neutral-light);
}

.btn-neutral.btn-outlined {
  color: var(--color-neutral);
  background-color: transparent;
}

.btn-neutral.btn-outlined:hover {
  color: var(--color-neutral-text);
  background-color: var(--color-neutral);
}

.btn-neutral.btn-text {
  color: var(--color-neutral);
  background-color: transparent;
}

.btn-neutral.btn-text:hover {
  background-color: var(--color-neutral-super-light);
  box-shadow: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.btn-primary.btn-outlined {
  color: var(--color-primary);
  background-color: transparent;
}

.btn-primary.btn-outlined:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.btn-primary.btn-text {
  color: var(--color-primary);
  background-color: transparent;
}

.btn-primary.btn-text:hover {
  background-color: var(--color-primary-super-light);
  box-shadow: none;
}

/* Disabled Button */
.btn-disabled {
  background-color: var(--color-disabled);
  color: var(--color-disabled-text);
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
  border-color: #e2e2e2;
}
