.text {
  font-family: "Inter", sans-serif;
  color: var(--color-black);
  margin-bottom: 16px;
  line-height: 1.6;
}

.text-h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: var(--color-text-heading);
}

.text-h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-text-heading);
}

.text-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--color-text-heading);
}

.text-h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 12px;
  color: var(--color-text-heading);
}

.text-h5 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-text-heading);
}

.text-h6 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--color-text-heading);
}

.text-paragraph {
  font-size: 1rem;
  margin-bottom: 16px;
  color: var(--color-text-paragraph);
}

.text-small {
  font-size: 0.875rem;
  color: var(--color-text-small);
}

.text-line-through {
  text-decoration: line-through;
  color: var(--color-text-small);
}

.text-light {
  color: var(--color-light);
}

.text-primary {
  color: var(--color-primary-text);
}

.text-secondary {
  color: var(--color-neutral-text);
}

.text-success {
  color: var(--color-success);
}

.text-danger {
  color: var(--color-danger);
}
