.textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.textarea:focus {
  border-color: var(--color-neutral);
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 0 0 3px rgba(166, 208, 252, 0.25);
}

.textarea-disabled {
  background-color: #f0f0f0;
  border-color: #d6d6d6;
  cursor: not-allowed;
  box-shadow: none;
}

@media (min-width: 768px) {
  .textarea {
    max-width: 600px;
  }
}
