.select {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}

.select-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-dark);
}

select {
  padding: 8px 16px;
  font-size: 1rem;
  border: 2px solid transparent;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  width: 100%;
  max-width: 400px;
  height: 48px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: var(--color-dark);
  position: relative;
}

select::after {
  content: "";
  display: block;
  height: 10px;
}

.select-primary {
  border-color: var(--color-primary);
}

.select-neutral {
  border-color: var(--color-secondary);
}

select option {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 4px 8px;
  margin: 2px 0;
}

select:focus {
  outline: none;
  box-shadow: 0 0 4px var(--color-primary-super-light);
}

select:disabled {
  background-color: var(--color-disabled);
  color: var(--color-disabled);
  cursor: not-allowed;
}
