.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hidden-radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom-radio {
  display: inline-block;
  margin: 4px 0px 4px 0px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-dark);
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.hidden-radio:checked + .custom-radio {
  background-color: var(--color-primary);
  border-color: #8abbe8;
}

.hidden-radio:disabled + .custom-radio {
  background-color: var(--color-secondary);
  cursor: not-allowed;
}

.radio-label {
  font-size: 1rem;
  color: var(--color-dark);
}

.radio-disabled .radio-label {
  color: var(--color-secondary);
}

.radio:hover .radio-label {
  color: var(--color-primary);
}
