.card {
  border: 1px solid var(--color-light);
  border-radius: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  flex-shrink: 0;
  width: 100%;
  padding: 0.875rem;
}

.card-avatar {
  display: flex;
  align-items: center;
}

.card-avatar p {
  font-size: 0.875rem;
  color: var(--color-text-small);
}

.card-avatar :first-child {
  margin: 16px;
}

.card-image-rounded {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
