.chip {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-primary-super-light);
  border-radius: 16px;
  padding: 4px 8px;
  margin: 4px;
  font-size: 14px;
  color: var(--color-text-small);
  border: 1px solid var(--color-primary);
}

.chip-label {
  margin-right: 8px;
}

.chip-remove {
  background: none;
  border: none;
  color: var(--color-primary-light);
  cursor: pointer;
  font-size: 12px;
}

.chip-remove:hover {
  color: var(--color-primary-text);
}
