.accordion {
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  transition: all;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem;
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  outline: none;
  color: var(--color-white);
  transition: background-color 0.3s ease;
  user-select: none;
}

.accordion-header:hover {
  background-color: var(--color-primary-light);
}

.accordion-header h3 {
  margin: 0;
  font-weight: 500;
}

.accordion-header span {
  font-size: 1.25rem;
  transition: transform 0.3s ease;
  margin-right: 25px;
}

.accordion-header span.open {
  transform: rotate(180deg);
}

.accordion-header span.closed {
  transform: rotate(0deg);
}

/* Handle animation for the accordion content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  transition:
    max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.accordion-content.open {
  max-height: 500px;
  padding: 16px;
}

/* Ensures there's no extra margin for inner content */
.accordion-content > * {
  margin-bottom: 0 !important; /* Reset margin for all direct children */
}

/* Add spacing only when needed */
.accordion-content > * + * {
  margin-top: 8px; /* Add spacing between child elements */
}
